{
  "presets": ["babel-preset-gatsby"],
  "plugins": [
    ["prismjs", {
      "languages": ["javascript", "ruby", "css", "markup"],
      "plugins": [],
      "theme": "tomorrow",
      "css": true
    }]
  ]
}
